<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Date report- {{ today | date:"d/m/Y" }}</h3>
    <table>
        <tr>
            <th>S.no</th>
            <th>name</th>
            <th>age</th>
        </tr>
        {% for i in student_objs %}
        <tr style="margin-left:110px ;">
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>